@font-face {
  font-family: Syne;
  src: url(./Syne.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 250);
}

html {
  font-family: Syne;
}

body {
  padding: 1rem;
}

main {
  padding: 1rem;
  padding-top: 3rem;
  width: 100%;
  border: 1px solid black;
}

nav .country-circle {
  display: none;
}
nav .option {
  display: none;
}
nav .button {
  display: none;
}
nav .logo {
  display: flex;
}
nav .logo svg {
  width: 3rem;
  margin-top: -2rem;
  padding-bottom: -2rem;
}
nav .logo p {
  margin-top: -1.4rem;
  margin-left: 0.8rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 700;
}
nav .darkmode {
  position: absolute;
  right: 20%;
  top: 4.8%;
  font-size: 1.1rem;
}
nav .darkmode .circle {
  padding: 0.4rem 0 0 0.4rem;
  width: 4rem;
  min-height: 2rem;
  border-radius: 20px;
  border: 1.5px solid black;
}
nav .menu {
  position: absolute;
  top: 4.7%;
  right: 10%;
  font-size: 1.9rem;
  opacity: 0.5;
}
nav .line-2 {
  margin-top: 1rem;
}

.view-1 {
  width: 100%;
}
.view-1 p {
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 0.3rem;
  margin-top: 1.7rem;
  text-transform: uppercase;
}
.view-1 h1 {
  font-weight: 500;
  font-size: 3.9rem;
  width: 70%;
  transform: scaleY(0.89);
  line-height: 1em;
  margin-bottom: 1rem;
}
.view-1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 1rem;
  height: 13rem;
  filter: drop-shadow(0px 0px 6px rgb(0, 0, 0));
}

svg {
  width: 5rem;
  margin-top: 2rem;
}

.view-2 .top p {
  margin-top: 1.7em;
}
.view-2 .top h1 {
  font-weight: 500;
  margin-top: 0.5rem;
  font-size: 3rem;
  transform: scaleY(0.89);
  width: 100%;
  line-height: 1em;
  margin-bottom: 1em;
}
.view-2 .top .button {
  padding: 0.7rem 2rem;
  border-radius: 0.6rem;
  background-color: rgb(0, 0, 0);
  color: rgb(254, 255, 247);
  font-weight: 600;
  text-decoration: none;
}
.view-2 .line {
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 100%;
  margin-top: 2.5rem;
}
.view-2 .bottom h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  transform: scaleY(0.89);
  line-height: 1em;
  margin-top: 1rem;
}
.view-2 .bottom p {
  margin-top: 1em;
  opacity: 0.8;
}

.view-3 .our-team h1 {
  font-weight: 500;
  font-size: 3rem;
  transform: scaleY(0.89);
  line-height: 1em;
  margin-top: 2rem;
}
.view-3 .our-team p {
  margin-top: 0.6rem;
  font-size: 1.3rem;
  opacity: 0.8;
  line-height: 1.35em;
}
.view-3 .our-team-members {
  padding: 0% 0.5rem;
}
.view-3 .our-team-members video {
  margin-top: 2.5rem;
  width: 100%;
  height: 15em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.view-3 .our-team-members h1 {
  font-weight: 400;
  font-size: 1.6rem;
  transform: scaleY(0.89);
  line-height: 1em;
  margin-top: 1rem;
}
.view-3 .our-team-members p {
  margin-top: 0.7em;
  transform: scaleY(1.1);
  opacity: 0.8;
}

.line-2 {
  border: 1px solid rgba(0, 0, 0, 0.454);
  width: 100%;
  margin-top: 2rem;
}

.contact {
  margin-bottom: 2.5rem;
}
.contact svg {
  width: 4rem;
  margin: 0.5em;
  margin-top: 1.5em;
}
.contact p {
  margin: 2rem 0 1rem 0;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 0.9em;
  transform: scaleY(1.3);
}
.contact h1 {
  font-size: 3.3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.contact h3 {
  font-weight: 100;
  opacity: 0.7;
  font-size: 1.3rem;
  margin-bottom: 2em;
}
.contact .button {
  padding: 0.55rem 1.1rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0);
  color: rgb(254, 255, 250);
  word-spacing: 0.7em;
  font-weight: 700;
  font-size: 0.9em;
  font-family: Roboto;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-weight: 100;
}

.view-4 .address .logo {
  display: flex;
}
.view-4 .address .logo svg {
  height: 3.7rem;
  margin-left: -0.6rem;
}
.view-4 .address .logo p {
  margin-top: 3rem;
  font-weight: 500;
  font-size: 1.7rem;
}
.view-4 .address h1 {
  font-size: 1rem;
  margin: 1rem 0 2.5rem;
  font-weight: 100;
  font-family: False;
  opacity: 0.7;
}
.view-4 .address .country-circle {
  display: flex;
  gap: 1rem;
}
.view-4 .address .country-circle h2 {
  font-size: 0.9em;
  padding: 0.35em;
  text-align: center;
  opacity: 0.63;
  font-family: Roboto Mono;
  border-radius: 50%;
  border: 1px solid black;
  height: 2.1em;
  width: 2.1em;
}
.view-4 h1 {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.view-4 a {
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.7;
  display: flex;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  font-family: Roboto mono;
}
.view-4 #button {
  padding: 0.55rem 1.1rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0);
  color: rgb(254, 255, 250);
  word-spacing: 0.7em;
  font-weight: 700;
  font-size: 0.9em;
  font-family: Roboto;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-weight: 100;
}

footer {
  font-family: Roboto Mono;
  font-size: 1rem;
  opacity: 0.9;
}
footer .fisrt-line p {
  margin: 2rem 0 0.8rem 4rem;
}
footer .fisrt-line p a {
  color: black;
}
footer .second-line {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
footer .second-line a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1080px) {
  main {
    padding: 4rem 14rem;
  }
  nav .option {
    margin-left: 34.7rem;
    display: flex;
    gap: 2rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-size: 0.5rem;
    font-weight: 100;
    opacity: 0.6;
  }
  nav .button {
    display: block;
    padding: 0.55rem 1rem;
    border-radius: 0.5rem;
    background-color: rgb(26, 26, 26);
    color: rgb(254, 255, 250);
    word-spacing: 0.7em;
    font-weight: 700;
    font-size: 0.7em;
    font-family: Roboto;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    font-weight: 100;
    position: absolute;
    right: 26%;
    top: 4%;
  }
  nav .darkmode {
    font-size: 0.8rem;
    position: absolute;
    right: 13.5%;
    top: 4%;
  }
  nav .darkmode .circle {
    width: 3rem;
  }
  nav .logo {
    position: absolute;
    top: 7%;
  }
  nav .menu {
    display: none;
  }
  nav .country-circle {
    display: flex;
    gap: 0.7rem;
  }
  nav .country-circle h2 {
    font-size: 0.8em;
    padding: 0.35em;
    text-align: center;
    opacity: 0.63;
    font-family: Roboto Mono;
    border-radius: 50%;
    border: 1px solid black;
    height: 2.1em;
    width: 2.1em;
    position: relative;
    left: 85.9%;
    margin-top: -2rem;
  }
  nav .line-4-1 {
    border: 1px solid black;
    width: 0;
    height: 2rem;
    position: relative;
    left: 96%;
    margin-top: -2.3rem;
  }
  nav .line-4-2 {
    border: 1px solid black;
    width: 0;
    height: 2rem;
    position: relative;
    left: 84.45%;
    margin-top: -2rem;
  }
  nav .line-2 {
    margin-top: rem;
  }
  body {
    padding: 0.7rem;
  }
  .view-1 h1 {
    font-size: 5rem;
    width: 100%;
  }
  .view-1 img {
    width: 100%;
    height: 35rem;
  }
  svg {
    width: 2.5rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
  .view-2 {
    display: flex;
    gap: 10px;
  }
  .view-2 .top {
    width: 270%;
  }
  .view-2 .top p {
    margin-top: 4rem;
    font-size: 0.7rem;
  }
  .view-2 .top h1 {
    font-size: 4.6rem;
    margin-bottom: 18rem;
  }
  .view-2 .top h1 br {
    display: none;
  }
  .view-2 .top .button {
    font-size: 0.6rem;
    padding: 0.55rem 1rem;
    border-radius: 6px;
  }
  .view-2 .line-line2 {
    width: 0;
  }
  .view-2 .line:nth-last-child(1) {
    display: none;
  }
  .view-2 .bottom {
    margin-left: 1.6rem;
  }
  .view-2 .bottom h1 {
    font-size: 1.5rem;
    margin-top: 1.4rem;
  }
  .view-2 .bottom p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .line {
    width: 100%;
    margin-top: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.318);
  }
  .view-3 {
    display: flex;
  }
  .view-3 .our-team {
    width: 40%;
    height: 40rem;
  }
  .view-3 .our-team span {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .view-3 .our-team span p {
    font-size: 1rem;
    margin-right: 7rem;
  }
  .view-3 .our-team-members {
    height: 23rem;
    margin-left: 1rem;
  }
  .view-3 .line-2 {
    width: 0;
  }
  .view-3 .line-2:nth-last-child(1) {
    display: none;
  }
  .contact {
    display: flex;
    position: relative;
    height: 32rem;
  }
  .contact .contact-1 svg {
    position: absolute;
    top: 80%;
  }
  .contact .contact-1 p {
    font-size: 0.79em;
    margin-top: 3rem;
  }
  .contact .contact-1 h1 {
    font-size: 3.9rem;
    text-shadow: 1px 1px 0 black;
    margin-top: 0.5rem;
    transform: scaleX(1.2);
    margin-left: 4.2rem;
  }
  .contact .line {
    width: 0%;
    height: 94%;
    position: absolute;
    top: -2%;
    left: 68%;
    border: 1px solid rgba(0, 0, 0, 0.318);
  }
  .contact .contact-2 h3 {
    font-size: 1.2rem;
    margin-top: 2.7rem;
    margin-left: 13rem;
    margin-bottom: 23rem;
  }
  .contact .contact-2 .button {
    font-size: 0.7rem;
    margin-left: 13rem;
    padding: 0.5rem 1rem;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
  }
  .view-4 {
    display: flex;
    justify-content: space-between;
  }
  .view-4 .address .logo svg {
    height: 4rem;
  }
  .view-4 .address .logo p {
    margin-top: 4.4rem;
    margin-left: 0.4rem;
    font-size: 1.3rem;
  }
  .view-4 .address .country-circle h2 {
    font-size: 0.7rem;
    margin-top: 6rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-weight: 700;
  }
  .view-4 .line {
    width: 0%;
    border: 1px solid rgba(0, 0, 0, 0.318);
    margin-left: 7rem;
    margin-right: -11rem;
  }
  .view-4 .line-2 {
    display: none;
  }
  .view-4 h1 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 4rem;
  }
  .view-4 #button {
    font-size: 0.7rem;
    padding: 0.4rem 1rem;
    background-color: rgb(11, 11, 11);
    opacity: 1;
  }
  .view-4 a {
    font-size: 0.81rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .view-4 a {
    position: relative;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease-in-out;
  }
  .view-4 a:hover {
    background-size: 100% 2px;
  }
  footer .fisrt-line p {
    margin: 1.5rem -0.1rem;
    font-size: 0.8rem;
  }
  footer .second-line {
    margin-right: -66rem;
    margin-top: -2rem;
  }
  footer .second-line a {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */