* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  color: wheat;
  scrollbar-width: none;
  overflow-x: hidden;
  background-color: #0e0e0e;
}

html {
  font-family: Gilroy;
}
main {
  width: 100%;
}
.veiw-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 4em;
  width: 100%;

  img {
    width: 80%;
    object-fit: cover;
  }
  h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 3em;
  }
  p {
    text-align: center;
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.2em;
    margin: 0.9em 0;
    opacity: 0.6;
   

    br {
      display: none;
    }
  }

  span {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
  }
}

.veiw-2 {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;

  .marquee {
    display: flex;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      // background-color: red:
      width: 100%;
      top: 0%;
      left: 0%;
      background-image: linear-gradient(
        to right,
        #0e0e0e,
        transparent,
        #0e0e0e
      );
    }

    .text {
      display: flex;
      gap: 3rem;
      padding: 0 1.5rem;
      animation: marquee 10s linear infinite both;

      p {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 1020px) {
  html {
    font-size: clamp(16px, 1vw, 20px);
  }

  .veiw-1 {
    img {
      width: 28%;
    }
    h1 {
      font-size: 8.9rem;
    }
    p,pre {
      font-size: 1.6rem;

      br {
        display: block;
      }
    }
  }

  .veiw-2 {
    width: 178%;
    padding: 4rem 15rem;
    display: flex;
    justify-content: flex-start;
    .marquee {
      width: 50%;
    }
  }
}

